{% extends 'website/header.html' %}
{% load static %}
{% block title %} HOME | UNQCOLLECTION {% endblock title %}
{% block body %}
<div class="page-content bg-gray">
    <div class="dlab-bnr-inr overlay-black-middle bg-pt" style="background-image:url({% static 'website/images/banner/breadcrumb.jpg' %})">
        <div class="container">
            <div class="dlab-bnr-inr-entry">
                <h1 class="text-white">SHANTI INSTITUTE OF MANAGEMENT AND STUDIES</h1>
                <div class="breadcrumb-row">
                    <ul class="list-inline">
                        <li><a href="/">SIMS</a></li>
                        <li>ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section-full content-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 m-b30">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="media m-b30">
                                <img src="{% static 'website/images/banner/about.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="course-details dlab-tabs border-top bg-tabs">
                                <ul class="nav nav-tabs ">
                                    <li>
                                        <a data-bs-toggle="tab" href="#description" class="active">
                                            <i class="fas fa-bookmark m-r10"></i>
                                            <span class="title-head">DESCRIPTION</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="tab" href="#curriculum">
                                            <i class="fas fa-user"></i>
                                            <span class="title-head">CHAIRPERSON's MSG</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="tab" href="#instructor">
                                            <i class="fas fa-user"></i>
                                            <span class="title-head">VICE-CHAIRPERSON's MSG</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="tab" href="#review">
                                            <i class="fas fa-user"></i>
                                            <span class="title-head">PRINCIPAL's MSG</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="description" class="tab-pane active">
                                        <h3 class="m-t0 m-b10">BEST HIGHER SECONDARY COLLGE IN ODISHA- SIMS</h3>
                                        <p>{{aboutInfo.about}}</p>

                                        <h3 class="m-b10">OUR MISSION</h3>  
                                        <p>{{aboutInfo.mission}}</p>

                                        <h3 class="m-b10">OUR VISION</h3>  
                                        <p>{{aboutInfo.vision}}</p>
                                        <h3 class="m-b10">KEY FEATURES</h3>
                                        <ul class="list-checked primary">
                                            <li>{{aboutInfo.features}}</li>
                                        </ul>
                                        <div class="m-t10">
                                            <h5>FOLLOW US :</h5>
                                            <ul class="dlab-social-icon">
                                                <a href="{{aboutInfo.facebook}}" target="_blank"><li><button type="button" class="btn btn-primary btn-sm" style="color: white;"><b>FACEBOOK</b></button>
                                                </li></a>
                                                <a href="{{aboutInfo.instagram}}" target="_blank"><li><button type="button" class="btn btn-danger btn-sm" style="color: white;"><b>INSTAGRAM</b></button></li></a>
                                                <a href="{{aboutInfo.linkedin}}" target="_blank"><li><button type="button" class="btn btn-info btn-sm" style="color: white;"><b>LINKEDIN</b></button></li></a>
                                                <a href="{{aboutInfo.whatsapp}}" target="_blank"><li><button type="button" class="btn btn-success btn-sm" style="color: white;"><b>WHATSAPP</b></button></li></a>
                                                <a href="{{aboutInfo.twitter}}" target="_blank"><li><button type="button" class="btn btn-primary btn-sm" style="color: white;"><b>TWITTER</b></button></li></a>
                                                <a href="{{aboutInfo.telegram}}" target="_blank"><li><button type="button" class="btn btn-info btn-sm" style="color: white;"><b>TELEGRAM</b></button></li></a>
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="curriculum" class="tab-pane">
                                        <div class="section-full content-inner">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-5 m-b30">
                                                        <div class="teachers-profile">
                                                            <div class="img">
                                                                <img src="/media/{{chairperson.image}}">
                                                            </div>
                                                            <div class="teachers-info">
                                                                <center><h4 class="name">{{chairperson.name}}</h4></center>
                                                                <center><span class="position">{{chairperson.position}} SIMS GROUP</span></center>
                                                            </div>
                                                            <div class="teachers-contact">
                                                                <div class="share-list">
                                                                    <h5>Follow :</h5>
                                                                    <ul class="dlab-social-icon">
                                                                        <li><a href="{{chairperson.facebook}}" target="_blank" class="site-button circle fab fa-facebook-f facebook"></a></li>
                                                                        <li><a href="{{chairperson.twitter}}" target="_blank" class="site-button circle fab fa-twitter twitter"></a></li>
                                                                        <li><a href="{{chairperson.linkedin}}" target="_blank" class="site-button circle fab fa-linkedin-in linkedin"></a></li>
                                                                        <li><a href="{{chairperson.whatsapp}}" target="_blank" class="site-button circle fab fa-whatsapp whatsapp"></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8 col-md-7">
                                                        <div class="teachers-details">
                                                            <h2>{{chairperson.quotes}}</h2>
                                                            <p class="m-b30">{{chairperson.about}}</p>
                                                            <h2>Mission</h2>
                                                            <p class="m-b30">{{aboutInfo.mission}}</p>
                                                            <h2>Vision</h2>
                                                            <p class="m-b30">{{aboutInfo.vision}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="instructor" class="tab-pane">
                                        <div class="section-full content-inner">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-5 m-b30">
                                                        <div class="teachers-profile">
                                                            <div class="img">
                                                                <img src="{% static 'website/images/about/leader/vice-chairman.jpg' %}">
                                                            </div>
                                                            <div class="teachers-info">
                                                                <h4 class="name">Mahendra Kumar Pati</h4>
                                                                <span class="position">Vice-Chairperson Of SIMS Group</span>
                                                            </div>
                                                            <div class="teachers-contact">
                                                                <ul>
                                                                    <li class="title">Contact Info</li>
                                                                    <li><span>Address:</span>Cda-10, Cuttack</li>
                                                                    <li><span>Email:</span><a href="">[email&#160;protected]</a></li>
                                                                    <li><span>Phone:</span>+91 987 654 3210</li>
                                                                </ul>
                                                                <div class="share-list">
                                                                    <h5>Follow Me :</h5>
                                                                    <ul class="dlab-social-icon">
                                                                        <li><a href="javascript:void(0);" class="site-button circle fab fa-facebook-f facebook"></a></li>
                                                                        <li><a href="javascript:void(0);" class="site-button circle fab fa-twitter twitter"></a></li>
                                                                        <li><a href="javascript:void(0);" class="site-button circle fab fa-linkedin-in linkedin"></a></li>
                                                                        <li><a href="javascript:void(0);" class="site-button circle fab fa-whatsapp whatsapp"></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8 col-md-7">
                                                        <div class="teachers-details">
                                                            <h2>Building Responsible Citizens for a Better Tomorrow.</h2>
                                                            <p class="m-b30">I believe that success follows those who follow their heart, however the environment around us isn’t always suited for nurturing our passions, keeping individuals from realizing their true potential. The focus at SIMS is to offer 360º developments to students, giving them a nurturing environment with sufficient exposure. With the power of 7 constantly being imbibed in academics, sports, extra-curricular and within the dorms, we ensure that the students imbibe these essential 7 qualities, which not only help students realize their passion but equip them to achieving it in an efficient and ethical manner.</p>
                                                            
                                                            <p class="m-b30">Being a chairperson, I have realized the true value of lessons learnt outside the bounds of a classroom. At SIMS we go beyond and ensure that our students get the best of indoor and outdoor training, moulding them to think critically, synthesize knowledge and reflect on their own thought processes.Through this we ensure that our students excel not only within the education system but in the real world as well, allowing our students to “Arise, Awake, and Ascend”</p>
                                                            <div class="row">
                                                                <div class="col-lg-6 m-b15">
                                                                    <h4 class="m-b30">My Education</h4>
                                                                    <ul class="teach-list-info">
                                                                        <li>
                                                                            <i class="fas fa-graduation-cap"></i>
                                                                            <h5 class="title">Biju Patnaik University</h5>
                                                                            <span>Bachelor in Computer Science</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="fas fa-graduation-cap"></i>
                                                                            <h5 class="title">Ravenshaw University</h5>
                                                                            <span>Intermediate in Science</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="fas fa-graduation-cap"></i>
                                                                            <h5 class="title">Saraswati Shishu Mandir</h5>
                                                                            <span>Matriculation In Odia Medium</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-lg-6 m-b15">
                                                                    <h4 class="m-b30">My Experience</h4>
                                                                    <ul class="teach-list-info">
                                                                        <li>
                                                                            <i class="fas fa-briefcase"></i>
                                                                            <h5 class="title">Chairperson Of SIMS</h5>
                                                                            <span>2017 - 2022</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="fas fa-briefcase"></i>
                                                                            <h5 class="title">Physics Professor</h5>
                                                                            <span>2015 - 2017 </span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="fas fa-briefcase"></i>
                                                                            <h5 class="title">Physics Lecture</h5>
                                                                            <span>2010 - 2015 </span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="review" class="tab-pane comments-area">
                                        <div class="section-full content-inner">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-5 m-b30">
                                                        <div class="teachers-profile">
                                                            <div class="img">
                                                                <img src="{% static 'website/images/about/leader/principal.jpg' %}">
                                                            </div>
                                                            <div class="teachers-info">
                                                                <h4 class="name">Gopal Kumar Rout</h4>
                                                                <span class="position">Principal Of SIMS Group</span>
                                                            </div>
                                                            <div class="teachers-contact">
                                                                <ul>
                                                                    <li class="title">Contact Info</li>
                                                                    <li><span>Address:</span>Cda-10, Cuttack</li>
                                                                    <li><span>Email:</span><a href="">[email&#160;protected]</a></li>
                                                                    <li><span>Phone:</span>+91 987 654 3210</li>
                                                                </ul>
                                                                <div class="share-list">
                                                                    <h5>Follow Me :</h5>
                                                                    <ul class="dlab-social-icon">
                                                                        <li><a href="javascript:void(0);" class="site-button circle fab fa-facebook-f facebook"></a></li>
                                                                        <li><a href="javascript:void(0);" class="site-button circle fab fa-twitter twitter"></a></li>
                                                                        <li><a href="javascript:void(0);" class="site-button circle fab fa-linkedin-in linkedin"></a></li>
                                                                        <li><a href="javascript:void(0);" class="site-button circle fab fa-whatsapp whatsapp"></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8 col-md-7">
                                                        <div class="teachers-details">
                                                            <h2>Building Responsible Citizens for a Better Tomorrow.</h2>
                                                            <p class="m-b30">I believe that success follows those who follow their heart, however the environment around us isn’t always suited for nurturing our passions, keeping individuals from realizing their true potential. The focus at SIMS is to offer 360º developments to students, giving them a nurturing environment with sufficient exposure. With the power of 7 constantly being imbibed in academics, sports, extra-curricular and within the dorms, we ensure that the students imbibe these essential 7 qualities, which not only help students realize their passion but equip them to achieving it in an efficient and ethical manner.</p>
                                                            
                                                            <p class="m-b30">Being a chairperson, I have realized the true value of lessons learnt outside the bounds of a classroom. At SIMS we go beyond and ensure that our students get the best of indoor and outdoor training, moulding them to think critically, synthesize knowledge and reflect on their own thought processes.Through this we ensure that our students excel not only within the education system but in the real world as well, allowing our students to “Arise, Awake, and Ascend”</p>
                                                            <div class="row">
                                                                <div class="col-lg-6 m-b15">
                                                                    <h4 class="m-b30">My Education</h4>
                                                                    <ul class="teach-list-info">
                                                                        <li>
                                                                            <i class="fas fa-graduation-cap"></i>
                                                                            <h5 class="title">Biju Patnaik University</h5>
                                                                            <span>Bachelor in Computer Science</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="fas fa-graduation-cap"></i>
                                                                            <h5 class="title">Ravenshaw University</h5>
                                                                            <span>Intermediate in Science</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="fas fa-graduation-cap"></i>
                                                                            <h5 class="title">Saraswati Shishu Mandir</h5>
                                                                            <span>Matriculation In Odia Medium</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-lg-6 m-b15">
                                                                    <h4 class="m-b30">My Experience</h4>
                                                                    <ul class="teach-list-info">
                                                                        <li>
                                                                            <i class="fas fa-briefcase"></i>
                                                                            <h5 class="title">Chairperson Of SIMS</h5>
                                                                            <span>2017 - 2022</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="fas fa-briefcase"></i>
                                                                            <h5 class="title">Physics Professor</h5>
                                                                            <span>2015 - 2017 </span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="fas fa-briefcase"></i>
                                                                            <h5 class="title">Physics Lecture</h5>
                                                                            <span>2010 - 2015 </span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block js %} {% endblock %}