{% load static %}
{% url 'index' as simsindex %}
{% url 'about' as simsabout %}
{% url 'whyus' as simswhyus %}
{% url 'awards' as simsawards %}
{% url 'science' as simsscience %}
{% url 'commerce' as simscommerce %}
{% url 'faculties' as simsfaculties %}
{% url 'entrance' as simsentrance %}
{% url 'chse' as simschse %}
{% url 'college' as simscollege %}
{% url 'hostel' as simshostel %}
{% url 'gallery' as simsgallery %}
{% url 'lab' as simslab %}
{% url 'sports' as simssports %}
{% url 'yoga' as simsyoga %}
{% url 'neet' as simsneet %}
{% url 'iit' as simsiit %}
{% url 'chse_result' as simschse_result %}
{% url 'news' as simsnews %}
{% url 'notices' as simsnotices %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="BEST COLLEGE - SHANTI INSTITUTE OF MANAGEMENT AND STUDIES" />
    <meta property="og:title" content="BEST COLLEGE - SHANTI INSTITUTE OF MANAGEMENT AND STUDIES" />
    <meta property="og:description" content="BEST COLLEGE - SHANTI INSTITUTE OF MANAGEMENT AND STUDIES" />
    <meta property="og:image" content="social-image.png" />
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="xhtml/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="xhtml/images/favicon.png" />
    <title>SIMS COLLEGE | HOME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/plugins.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'website/css/skin/skin-1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/templete.css' %}">
    <style>
        @import url('//fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'website/plugins/revolution/revolution/css/revolution.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .at-expanding-share-button-toggle-bg{
            display: none;
        }
        .DZ-theme-btn.DZ-bt-support-now{
            display: none;
        }
        .DZ-theme-btn.DZ-bt-buy-now{
            display: none;
        }
    </style>
</head>
<body id="bg">
    <div class="page-wraper">
        <div id="loading-area"></div>
        <header class="site-header mo-left header">
            <div class="top-bar">
                <div class="container">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="dlab-topbar-left">
                            <ul>
                                {% for sims in sims %}
                                    <li><i class="la la-phone-volume"></i> {{sims.contact1}}</li>
                                    <li><i class="las la-envelope-open"></i> {{sims.email1}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="dlab-topbar-right">
                            <ul>
                                <li>
                                    <a href="/careers/"><button type="button" class="btn btn-info btn-sm" style="color: black;"><b>OUR CAREER</b></button></a>
                                    <a href="/testimonial/"><button type="button" class="btn btn-info btn-sm" style="color: black;"><b>TESTIMONIALS</b></button></a>
                                    <a href="/contact/"><button type="button" class="btn btn-info btn-sm" style="color: black;"><b>CONTACT US</b></button></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sticky-header main-bar-wraper navbar-expand-lg">
                <div class="main-bar clearfix ">
                    <div class="container clearfix">
                        <div class="logo-header mostion logo-dark">
                            <a href="/"><img src="{% static 'website/images/logo/logo.png' %}" alt=""></a>
                        </div>
                        
                        <button class="navbar-toggler collapsed navicon justify-content-end" type="button"
                            data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        
                        <div class="extra-nav">
                            <div class="extra-cell">
                                <a target="_blank" href="/admission/" class="site-button btnhover13">GET ADDMISSION</a>
                            </div>
                        </div>
                        
                        <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                            <div class="logo-header d-md-block d-lg-none">
                                <a href="/"><img src="{% static 'website/images/logo/logo.png' %}" alt=""></a>
                            </div>
                            <ul class="nav navbar-nav">
                                <li {% if request.path == simsindex %} class="active" {% endif %}>
                                    <a href="/">Home</a>
                                </li>
                                <li {% if request.path == simsabout %} class="active" {% elif request.path == simswhyus %} class="active" {% elif request.path == simsawards %} class="active" {% endif %}>
                                    <a href="javascript:;">About<i class="fas fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/about/"><b>➦ ABOUT US</b></a></li>
                                        <li><a href="/whyus/"><b>➦ WHY SIMS?</b></a></li>
                                        <li><a href="/awards/"><b>➦ AWARDS & RANKING</b></a></li>
                                    </ul>
                                </li>
                                <li {% if request.path == simsscience %} class="active" {% elif request.path == simscommerce %} class="active" {% elif request.path == simsfaculties %} class="active" {% elif request.path == simsentrance %} class="active" {% elif request.path == simschse %} class="active" {% endif %}>
                                    <a href="javascript:;">Academics<i class="fas fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/science/"><b>➦ SCIENCE STREAM</b></a></li>
                                        <li><a href="/commerce/"><b>➦ COMMERCE STREAM</b></a></li>
                                        <li><a href="/faculties/"><b>➦ CHSE FACULTIES</b></a></li>
                                        <li><a href="/entrance/"><b>➦ ENTRANCE FACULTY</b></a></li>
                                        <li><a href="/chse/"><b>➦ CHSE AFFILIATIONS</b></a></li>
                                    </ul>
                                </li>
                                <li {% if request.path == simscollege %} class="active" {% elif request.path == simshostel %} class="active" {% elif request.path == simsgallery %} class="active" {% elif request.path == simslab %} class="active" {% elif request.path == simssports %} class="active" {% elif request.path == simsyoga %} class="active" {% endif %}>
                                    <a href="javascript:;">Infrastructure<i class="fas fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/college/"><b>➦ COLLEGE FACILITIES</b></a></li>
                                        <li><a href="/hostel/"><b>➦ HOSTEL FACILITIES</b></a></li>
                                        <li><a href="/gallery/"><b>➦ OUR GALLERY</b></a></li>
                                        <li><a href="/lab/"><b>➦ MULTIFARIOUS LABS</b></a></li>
                                        <li><a href="/sports/"><b>➦ SPORTS ACTIVITY</b></a></li>
                                        <li><a href="/yoga/"><b>➦ YOGA & MEDITATION</b></a></li>
                                    </ul>
                                </li>
                                <li {% if request.path == simsneet %} class="active" {% elif request.path == simsiit %} class="active" {% elif request.path == simschse_result %} class="active" {% endif %}>
                                    <a href="javascript:;">Results<i class="fas fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/neet/"><b>➦ NEET ACHIVERS</b></a></li>
                                        <li><a href="/iit/"><b>➦ IIT-JEE ACHIVERS</b></a></li>
                                        <li><a href="/chse_result/"><b>➦ CHSE RESULTS</b></a></li>
                                    </ul>
                                </li>
                                <li {% if request.path == simsnews %} class="active" {% elif request.path == simsnotices %} class="active" {% endif %}>
                                    <a href="javascript:;">News & Events<i class="fas fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="/news/"><b>➦ OUR NEWS</b></a></li>
                                        <li><a href="/notices/"><b>➦ OUR NOTICES</b></a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="dlab-social-icon">
                                <ul>
                                    {% for about in about %}
                                        <li><a class="site-button circle fab fa-facebook-f" target="_blank" href="{{about.facebook}}"></a>
                                        </li>
                                        <li><a class="site-button  circle fab fa-twitter" target="_blank" href="{{about.twitter}}"></a>
                                        </li>
                                        <li><a class="site-button circle fab fa-linkedin-in" target="_blank" href="{{about.linkedin}}"></a>
                                        </li>
                                        <li><a class="site-button circle fab fa-instagram" target="_blank" href="{{about.instagram}}"></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {% block body %}{% endblock body %}

        <footer class="site-footer">
            <div class="footer-top" style="background-image:url('images/pattern/pt15.png')">
                <div class="container">
                    <div class="row">
                        {% for sims in sims %}
                            <div class="col-xl-3 col-lg-3 col-md-6 col-5 col-sm-6 footer-col-4 col-12">
                                <div class="widget widget_about border-0">
                                    <h5 class="footer-title">About Us</h5>
                                    <p class="mm-t5">{{sims.about}}</p>
                                    <ul class="contact-info-bx">
                                        <li><i class="las la-map-marker"></i><strong>{{sims.address}}</strong></li>
                                        <li><i class="las la-phone-volume"></i><strong>{{sims.contact1}}</strong></li>
                                        <li><i class="las la-envelope-open"></i><strong>{{sims.email1}}</strong></li>
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                        
                        <div class="col-xl-3 col-lg-2 col-md-6 col-sm-6 footer-col-4 col-12">
                            <div class="widget widget_services border-0">
                                <h5 class="footer-title">Infrastructure</h5>
                                <ul class="mm-t10">
                                    <li><a href="/college/">College Facilities</a></li>
                                    <li><a href="/hostel/">Hostel Facilities</a></li>
                                    <li><a href="/gallery/">Our Gallery</a></li>
                                    <li><a href="/lab/">Multifarious Labs</a></li>
                                    <li><a href="/sports/">Sports Activity </a></li>
                                    <li><a href="/yoga/">Yoga & Meditation </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-2 col-md-6 col-sm-6 footer-col-4 col-12">
                            <div class="widget widget_services border-0">
                                <h5 class="footer-title">Usefull Link</h5>
                                <ul class="mm-t10">
                                    <li><a href="/about/">About Us</a></li>
                                    <li><a href="/contact/">Contact Us</a></li>
                                    <li><a href="/careers/">Our Careers</a></li>
                                    <li><a href="/testimonial/">Our Testimonials</a></li>
                                    <li><a href="/news/">Our Lattest News </a></li>
                                    <li><a href="/notices/">Our Lattest Notices </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 footer-col-4 col-12">
                            <div class="widget">
                                <h5 class="footer-title">Opening Hours</h5>
                                <ul class="thsn-timelist-list mm-t5">
                                    <li><span class="thsn-timelist-li-title">Monday : <b>07:00 AM – 06:00 PM</b></span></li>
                                    <li><span class="thsn-timelist-li-title">Tuesday : <b>07:00 AM – 06:00 PM</b></span></li>
                                    <li><span class="thsn-timelist-li-title">Wednesday : <b>07:00 AM – 06:00 PM</b></span></li>
                                    <li><span class="thsn-timelist-li-title">Thursday : <b>07:00 AM – 06:00 PM</b></span></li>
                                    <li><span class="thsn-timelist-li-title">Friday : <b>07:00 AM – 06:00 PM</b></span></li>
                                    <li><span class="thsn-timelist-li-title">Saturday : <b>07:00 AM – 06:00 PM</b></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 text-left "> <span>&copy; {% now 'Y' %} <a href="" target="_blank"> SHANTI INSTITUTE OF MANAGEMENT AND STUDIES | ALL RIGHTS RESERVED!!</a></span></div>
                        <div class="col-md-6 col-sm-6 text-right ">
                            <div class="widget-link ">
                                <ul>
                                    {% for about in about %}
                                        <a href="{{about.facebook}}" target="_blank"><button class="btn btn-info btn-sm"><i class="fa fa-facebook-f"></i></button></a>
                                        <a href="{{about.instagram}}" target="_blank"><button class="btn btn-info btn-sm"><i class="fa fa-instagram"></i></button></a>
                                        <a href="{{about.linkedin}}" target="_blank"><button class="btn btn-info btn-sm"><i class="fa fa-linkedin-in"></i></button></a>
                                        <a href="{{about.whatsapp}}" target="_blank"><button class="btn btn-info btn-sm"><i class="fa fa-whatsapp"></i></button></a>
                                        <a href="{{about.twitter}}" target="_blank"><button class="btn btn-info btn-sm"><i class="fa fa-twitter"></i></button></a>
                                        <a href="{{about.telegram}}" target="_blank"><button class="btn btn-info btn-sm"><i class="fa fa-telegram"></i></button></a>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <button class="scroltop icon-up" type="button"><i class="fas fa-arrow-up"></i></button>
    </div>
    
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="{% static 'website/js/jquery.min.js' %}"></script>
    <script src="{% static 'website/plugins/wow/wow.js' %}"></script>
    <script src="{% static 'website/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'website/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'website/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'website/plugins/magnific-popup/magnific-popup.js' %}"></script>
    <script src="{% static 'website/plugins/counter/waypoints-min.js' %}"></script>
    <script src="{% static 'website/plugins/counter/counterup.min.js' %}"></script>
    <script src="{% static 'website/plugins/imagesloaded/imagesloaded.js' %}"></script>
    <script src="{% static 'website/plugins/masonry/masonry-3.1.4.js' %}"></script>
    <script src="{% static 'website/plugins/masonry/masonry.filter.js' %}"></script>
    <script src="{% static 'website/plugins/owl-carousel/owl.carousel.js' %}"></script>
    <script src="{% static 'website/plugins/lightgallery/js/lightgallery-all.min.js' %}"></script>
    <script src="{% static 'website/js/custom.js' %}"></script>
    <script src="{% static 'website/js/dz.carousel.js' %}"></script>
    <script src="{% static 'website/plugins/countdown/jquery.countdown.js' %}"></script>
    <script src="{% static 'website/js/dz.ajax.js' %}"></script>
    <script src="{% static 'website/plugins/rangeslider/rangeslider.js' %}"></script>
    <script src="{% static 'website/js/jquery.lazy.min.js' %}"></script>
    <script src="{% static 'website/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'website/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'website/script/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'website/script/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'website/script/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'website/script/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'website/script/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'website/script/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'website/script/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'website/plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js' %}">
    </script>
    <script src="{% static 'website/js/rev.slider.js' %}"></script>
    <script>
        jQuery(document).ready(function () {
            'use strict';
            dz_rev_slider_2();
            $('.lazy').Lazy();
        }); /*ready*/
    </script>
</body>
</html>

{% block js %} {% endblock %}