{% extends 'website/header.html' %}
{% load static %}
{% block title %} HOME | UNQCOLLECTION {% endblock title %}
{% block body %}
<div class="main-slider style-two default-banner" id="home">
    <div class="tp-banner-container">
        <div class="tp-banner" >
            <div id="welcome_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="reveal-add-on36" data-source="gallery" style="background:#ffffff;padding:0px;">
                <div id="welcome" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.7.2">
                    <ul>
                        {% for slider in allSlider %}	
                            <li><img src="/media/{{slider.image}}" data-lazyload="/media/{{slider.image}}"></li>
                        {% endfor %}
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	
                </div>
            </div>    
        </div>        
    </div>        
</div>  
<div class="page-content bg-white">	
    <div class="content-block">
        <div class="section-full content-inner bg-white">
            <div class="container">
                <div class="row edu-about align-items-center">
                    <div class="col-lg-6 m-b30">
                        <div class="section-head m-b20">
                            <h2 class="title">Great Place for Education!!</h2>
                            <h5 class="title-small">Shanti Institute of Management and Studies (SIMS)</h5>
                            <div class="dlab-separator bg-primary"></div>
                        </div>
                        <p>{{simsInfo.about}}</p>
                        <ul class="list-check primary circle text-black">
                            <li>We provide the excellence education quality that what you want!</li>
                            <li>A place where you can find a good combination of comfort and discipline!</li>
                            <li>When outstanding infrastructure is joined with innovative teaching approaches, the result is a winning combination.</li>
                            <li>A college which empower students with nurturing talent!</li>
                        </ul>
                        <a href="/about/" class="site-button btnhover14">Read More</a>
                    </div>
                    <div class="col-lg-6">
                        <div class="row features-area-one">
                            <div class="col-lg-6 col-md-6">
                                <div class="features-box style1 bg-primary m-b30">
                                    <div class="dlab-info">
                                        <i class="la la-plus"></i>
                                        <h3 class="info">SIMS</h3>
                                        <span>Science Stream(PCM)</span>
                                    </div>
                                </div>
                                <div class="features-box style1 bg-secondry">
                                    <div class="dlab-info">
                                        <i class="la la-plus"></i>
                                        <h3 class="info">SIMS</h3>
                                        <span>Public School (Odia)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 m-t30">
                                <div class="features-box style1 bg-secondry m-b30">
                                    <div class="dlab-info">
                                        <i class="la la-plus"></i>
                                        <h3 class="info">SIMS</h3>
                                        <span>Commerce Stream</span>
                                    </div>
                                </div>
                                <div class="features-box style1 bg-primary m-b30">
                                    <div class="dlab-info">
                                        <i class="la la-plus"></i>
                                        <h3 class="info">SIMS</h3>
                                        <span>Nursing Stream (Odia)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-full bg-secondry form-area style1 content-inner overlay-black-dark bg-img-fix" style="background-image:url(images/background/bg7.jpg)">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 m-b30">
                        <div class="section-head">
                            <h4 class="title-small">Get a Free Summer Course Training!</4>
                            <h2 id="blink" class="title text-primary">Admission Open!</h2>
                            <p>{{simsInfo.description}}</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6 m-b30">
                                <div class="dlab-box counter-style-2 text-white">
                                    <div class="icon-lg"><i class="flaticon-graduated-student-avatar"></i></div>
                                    <h2 class="counter text-primary m-b5">{{simsInfo.science_std}}</h2>
                                    <span class="counter-text">Science Students</span> 
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6 m-b30">
                                <div class="dlab-box counter-style-2 text-white">
                                    <div class="icon-lg"><i class="flaticon-homework"></i></div>
                                    <h2 class="counter text-primary m-b5">{{simsInfo.commerce_std}}</h2>
                                    <span class="counter-text">Commerce Students</span> 
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6 m-b30">
                                <div class="dlab-box counter-style-2 text-white">
                                    <div class="icon-lg"><i class="flaticon-classroom"></i></div>
                                    <h2 class="counter text-primary m-b5">{{simsInfo.total_teacher}}</h2>
                                    <span class="counter-text">Total Teachers</span> 
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6 m-b30">
                                <div class="dlab-box counter-style-2 text-white">
                                    <div class="icon-lg"><i class="flaticon-championship"></i></div>
                                    <h2 class="counter text-primary m-b5">{{simsInfo.graduate_std}}</h2>
                                    <span class="counter-text">Graduate Students</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 m-b30">
                        <div class="register-form style1">
                            <form autocomplete="off" id="summerform" method="post" action="/">{% csrf_token %}
                                <div class="row sp15">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="name" id="name" class="form-control" placeholder="Enter Full Name.." onKeyPress="return ValidateName(event);" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email Address.." required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="mobile" id="mobile" class="form-control" placeholder="Mobile Number.." minlength="10" maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select class="bs-select-hidden" name="stream" id="stream" required>
                                                <option value="">STREAM</option>
                                                <option value="SCIENCE">SCIENCE</option>
                                                <option value="COMMERCE">COMMERCE</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <textarea name="message" id="message" rows="4" class="form-control" placeholder="Something about you!" required=""></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button name="submit" id="submitBtn" type="submit" value="Submit" class="site-button btn-block"><span>SUBMIT NOW</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <center><span id="success" style='font-size:20px;color:white;font-weight: bold;'></span></center>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-full bg-gray content-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sort-title clearfix text-center">
                    <h4 style="font-size: 35px;">Our Student Testimonials</h4>
                </div>
                <div class="section-content">
                    <div class="testimonial-one owl-loaded owl-theme owl-carousel owl-btn-center-lr owl-btn-3">
                        {% for stdTestmonial in stdTestmonial %}
                            <div class="item">
                                <div class="testimonial-1">
                                    <div class="testimonial-pic quote-left radius shadow"><img src="/media/{{stdTestmonial.image}}" width="100" height="100" alt=""></div>
                                    <div class="testimonial-text">
                                        <p>{{stdTestmonial.message}}</p>
                                    </div>
                                    <div class="testimonial-detail"> <strong class="testimonial-name">{{stdTestmonial.name}}</strong> <span class="testimonial-position">{{stdTestmonial.position}}</span> </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-full p-tb50 bg-primary text-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7 m-md-b30">
                <h4>We want your genuine feedback!</h4>
                <p class="m-b0">Positive and negative feedback is important because it helps break bad habits, reinforces positive behavior, and enables teams to work more effectively toward their goals.</p>
            </div>
            <div class="col-md-5">
                <h4>Will Work On Your Feedback!</h4>
                <form class="dzSubscribe style1" action="script/mailchamp.php" method="post">
                    <div class="dzSubscribeMsg"></div>
                    <div class="input-group">
                        <input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your feedback..">
                        <div class="input-group-addon">
                            <button name="submit" value="Submit" type="submit" class="site-button-secondry btnhover6">SUBMIT NOW</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block js %}
    <script type="text/javascript">
        var blink = document.getElementById('blink');
        setInterval(function() {
            blink.style.opacity = (blink.style.opacity == 0 ? 1 : 0);
        }, 200);
    </script>
    <script>
        function ValidateName(evt){
            var keyCode = (evt.which) ? evt.which : evt.keyCode
            if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32)
            
            return false;
                return true;
        }
    </script>
    <script type="text/javascript">
        $(document).on('submit','#summerform',function(e){
            $('#submitBtn').prop("disabled", true);
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'/',
                data:{
                    name:$('#name').val(),
                    email:$('#email').val(),
                    mobile:$('#mobile').val(),
                    stream:$('#stream').val(),
                    message:$('#message').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(data){  
                    $('#submitBtn').prop("disabled", false);
                    $('#summerform').trigger("reset");
                    if(data.status == 1){
                        $('#success').html("Successfully Submited, We Will Connect With You Soon!!")
                        $('#success').fadeIn(1000).delay(2000).fadeOut(1000);
                    }
                    
                    setTimeout(function(){  
                        $('#success').fadeOut("Slow");
                        $('#submitBtn').css("cursor", "allowed");
                    }, 1000);  
                }
            });
        });
    </script>
{% endblock %}