{% extends 'website/header.html' %}
{% load static %}
{% block title %} HOME | UNQCOLLECTION {% endblock title %}
{% block body %}
<div class="main-slider style-two default-banner" id="home">
    <div class="tp-banner-container">
        <div class="tp-banner" >
            <div id="welcome_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="reveal-add-on36" data-source="gallery" style="background:#ffffff;padding:0px;">
                <div id="welcome" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.7.2">
                    <ul>	
                        <li>
                            <img src="images/slider/1.jpg" data-lazyload="images/slider/1.jpg">
                        </li>
                        <li>
                            <img src="images/slider/2.jpg" data-lazyload="images/slider/2.jpg">
                        </li>
                        <li>
                            <img src="images/slider/3.jpg" data-lazyload="images/slider/3.jpg">
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	
                </div>
            </div>    
        </div>        
    </div>        
</div>  
<div class="page-content bg-white">	
    <div class="content-block">
        <div class="section-full content-inner bg-white">
            <div class="container">
                <div class="row edu-about align-items-center">
                    <div class="col-lg-6 m-b30">
                        <div class="section-head m-b20">
                            <h2 class="title">Great Place for Education!!</h2>
                            <h5 class="title-small">Shanti Institute of Management and Studies (SIMS)</h5>
                            <div class="dlab-separator bg-primary"></div>
                        </div>
                        <p>Shanti Institute of Management and Studies (SIMS) is successfully functioning with a propitious mission of leading the students to excellence since 2008… and still counting…</p>
                        <ul class="list-check primary circle text-black">
                            <li>We provide the excellence education quality that what you want!</li>
                            <li>A place where you can find a good combination of comfort and discipline!</li>
                            <li>When outstanding infrastructure is joined with innovative teaching approaches, the result is a winning combination.</li>
                            <li>A college which empower students with nurturing talent!</li>
                        </ul>
                        <a href="about.html" class="site-button btnhover14">Read More</a>
                    </div>
                    <div class="col-lg-6">
                        <div class="row features-area-one">
                            <div class="col-lg-6 col-md-6">
                                <div class="features-box style1 bg-primary m-b30">
                                    <div class="dlab-info">
                                        <i class="la la-plus"></i>
                                        <h3 class="info">SIMS</h3>
                                        <span>Science Stream(PCM)</span>
                                    </div>
                                </div>
                                <div class="features-box style1 bg-secondry">
                                    <div class="dlab-info">
                                        <i class="la la-plus"></i>
                                        <h3 class="info">SIMS</h3>
                                        <span>Public School (Odia)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 m-t30">
                                <div class="features-box style1 bg-secondry m-b30">
                                    <div class="dlab-info">
                                        <i class="la la-plus"></i>
                                        <h3 class="info">SIMS</h3>
                                        <span>Commerce Stream</span>
                                    </div>
                                </div>
                                <div class="features-box style1 bg-primary m-b30">
                                    <div class="dlab-info">
                                        <i class="la la-plus"></i>
                                        <h3 class="info">SIMS</h3>
                                        <span>Nursing Stream (Odia)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-full bg-secondry form-area style1 content-inner overlay-black-dark bg-img-fix" style="background-image:url(images/background/bg7.jpg)">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 m-b30">
                        <div class="section-head">
                            <h4 class="title-small">Get a Free Summer Course Training!</4>
                            <h2 id="blink" class="title text-primary">Admission Open!</h2>
                            <p>If you are interested in advancing your knowledge, then a summer course might be for you. These courses are available when most students take time off from school, and there are many different subjects like Physics, Chemistry, Mathematics, Biology, and Information Technology that you can study during the summer. There are several benefits that come with taking summer courses. It is a wonderful way to add to your scientific knowledge. Summer classes can help many people progress towards graduation more quickly. Also, many of the courses available are very rewarding.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6 m-b30">
                                <div class="dlab-box counter-style-2 text-white">
                                    <div class="icon-lg"><i class="flaticon-graduated-student-avatar"></i></div>
                                    <h2 class="counter text-primary m-b5">1500</h2>
                                    <span class="counter-text">Science Students</span> 
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6 m-b30">
                                <div class="dlab-box counter-style-2 text-white">
                                    <div class="icon-lg"><i class="flaticon-homework"></i></div>
                                    <h2 class="counter text-primary m-b5">500</h2>
                                    <span class="counter-text">Commerce Students</span> 
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6 m-b30">
                                <div class="dlab-box counter-style-2 text-white">
                                    <div class="icon-lg"><i class="flaticon-classroom"></i></div>
                                    <h2 class="counter text-primary m-b5">100</h2>
                                    <span class="counter-text">Total Teachers</span> 
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6 m-b30">
                                <div class="dlab-box counter-style-2 text-white">
                                    <div class="icon-lg"><i class="flaticon-championship"></i></div>
                                    <h2 class="counter text-primary m-b5">2000</h2>
                                    <span class="counter-text">Graduate Students</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 m-b30">
                        <div class="register-form style1">
                            <form method="post" class="dzForm" action="script/contact.php">
                                <input type="hidden" value="Appointment" name="dzToDo" >
                                <div class="row sp15">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input name="dzName" class="form-control" placeholder="Name" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input name="dzEmail" class="form-control" placeholder="Email" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input name="dzEmail" class="form-control" placeholder="Mobile" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select class="bs-select-hidden" name="dzOther[service]" >
                                                <option value="">Addmission Stream</option>
                                                <option value="Science Stream">Science Stream</option>
                                                <option value="Commerce Stream">Commerce Stream</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <textarea name="dzMessage" rows="4" class="form-control" placeholder="Something about you!" required=""></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button name="submit" type="submit" value="Submit" class="site-button btn-block"><span>Submit</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-full bg-gray content-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sort-title clearfix text-center">
                    <h4 style="font-size: 35px;">Our Student Testimonials</h4>
                </div>
                <div class="section-content">
                    <div class="testimonial-one owl-loaded owl-theme owl-carousel owl-btn-center-lr owl-btn-3">
                        <div class="item">
                            <div class="testimonial-1">
                                <div class="testimonial-pic quote-left radius shadow"><img src="images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
                                <div class="testimonial-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets conta</p>
                                </div>
                                <div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-1">
                                <div class="testimonial-pic quote-left radius shadow"><img src="images/testimonials/pic2.jpg" width="100" height="100" alt=""></div>
                                <div class="testimonial-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets conta</p>
                                </div>
                                <div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-1">
                                <div class="testimonial-pic quote-left radius shadow"><img src="images/testimonials/pic3.jpg" width="100" height="100" alt=""></div>
                                <div class="testimonial-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets conta</p>
                                </div>
                                <div class="testimonial-detail"> <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-full p-tb50 bg-primary text-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7 m-md-b30">
                <h4>We want your genuine feedback!</h4>
                <p class="m-b0">Positive and negative feedback is important because it helps break bad habits, reinforces positive behavior, and enables teams to work more effectively toward their goals.</p>
            </div>
            <div class="col-md-5">
                <h4>Will Work On Your Feedback!</h4>
                <form class="dzSubscribe style1" action="script/mailchamp.php" method="post">
                    <div class="dzSubscribeMsg"></div>
                    <div class="input-group">
                        <input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your feedback..">
                        <div class="input-group-addon">
                            <button name="submit" value="Submit" type="submit" class="site-button-secondry btnhover6">SUBMIT NOW</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block js %}
    <script type="text/javascript">
        var blink = document.getElementById('blink');
        setInterval(function() {
            blink.style.opacity = (blink.style.opacity == 0 ? 1 : 0);
        }, 200);
    </script>
{% endblock %}