{% extends 'website/header.html' %}
{% load static %}
{% block title %} HOME | UNQCOLLECTION {% endblock title %}
{% block body %}
<div class="page-content bg-gray">
    <div class="dlab-bnr-inr overlay-black-middle bg-pt" style="background-image:url({% static 'website/images/banner/breadcrumb.jpg' %})">
        <div class="container">
            <div class="dlab-bnr-inr-entry">
                <h1 class="text-white">SHANTI INSTITUTE OF MANAGEMENT AND STUDIES</h1>
                <div class="breadcrumb-row">
                    <ul class="list-inline">
                        <li><a href="/">SIMS</a></li>
                        <li>SCIENCE</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content-block">
        <!-- Our Services -->
        <div class="section-full bg-white content-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-head">
                            <h2 class="title"> TOP CHSE HIGHER SECONDARY COLLEGE IN ODISHA</h2>
                            <p>We at <b>SHANTI INSTITUTE OF MANAGEMENT AND STUDIES</b> are committed to offer our students Indian ethos through the research, rationalize and reflect. The curriculum is designed to help each student to reach his/her full potential by providing a wide general education, encouraging a community spirit and sense of responsibility. Our college aims at helping the child to develop every facet of his/her personality. Our efforts are directed at preparing the students to be disciplined, fearless, curious and well-informed human beings in rapidly changing world. The students at <b>SHANTI INSTITUTE OF MANAGEMENT AND STUDIES</b> at the end of their educational journey will emerge to be both inquirers & thinkers, qualities of a global citizen.</p>
                        </div>
                        <div class="row"> 
                            <div class="col-md-6 col-sm-6 m-b30">
                                <div class="icon-bx-wraper left">
                                    <div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fas fa-pen"></i></a> </div>
                                    <div class="icon-content">
                                        <h5 class="rdx-tilte">Overview</h5>
                                        <p>➦ We follow CHSE curriculum for XI & XII Science classes. The examination of the XI students shall be conducted at the end of the XI Class at College/ HS college level and for XII Class the examination shall be conducted at the end of XII Class at Council level.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 m-b30">
                                <div class="icon-bx-wraper left">
                                    <div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fas fa-pen"></i></a> </div>
                                    <div class="icon-content">
                                        <h5 class="rdx-tilte">Competitive Classes for NEET & JEE</h5>
                                        <p>➦ Entrance tutoring for NEET, JEE, BITS, NISER and other entrance exams is provided by a different set of faculties recruited from nationally renowned coaching colleges. We divide students into different batches based on their career goals.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 m-b30">
                                <div class="icon-bx-wraper left">
                                    <div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fas fa-pen"></i></a> </div>
                                    <div class="icon-content">
                                        <h5 class="rdx-tilte">Subjects Offered</h5>
                                        <p>➦ Compulsory Subject :<br>
                                            1. English,<br>
                                            2. Alternative English / Odia / Sanskrit / Hindi (A student has to choose any one subject)
                                        </p>
                                        <p style="margin-top: -10px;">➦ Apart from Compulsory subject a student must choose any one optional group mentioned here <b>Physics</b>, <b>Chemistry</b>, <b>Mathematics</b>, <b>Information Technology / Physics</b>, <b>Chemistry</b>, <b>Mathematics</b>, <b>Biology / Physics</b>, <b>Chemistry</b>, <b>Biology</b>, <b>Information Technology</b></p>
                                        <p style="margin-top: -10px;">➦ The total marks in each subject of CHSE exam is <b>100</b>. For exams with practicals, the marks is divided into <b>70</b> for theory and <b>30</b> for practical.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 m-b30">
                                <div class="icon-bx-wraper left">
                                    <div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fas fa-pen"></i></a> </div>
                                    <div class="icon-content">
                                        <h5 class="rdx-tilte">Examinations</h5>
                                        <p>➦ SIMS Evaluation System includes a lot of continuous examination such as: Monthly, Quarterly, Half-yearly and Annual Tests. Results are intimated to their parents through SMS.<br>
                                            1. <b>Monthly Tests:</b> These tests are conducted on a monthly basis from the portion completed in that month in objective & subjective mode.<br>
                                            2. <b>Quarterly Tests:</b> Once every three months, these tests are administered with quarterly sections.<br>
                                            3. <b>Half-Yearly Tests:</b> These tests are given when half of the course has been completed.<br>
                                            4. <b>Annual Tests:</b> These tests are given once the entire syllabus has been completed.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 m-b30">
                                <div class="icon-bx-wraper left">
                                    <div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fas fa-pen"></i></a> </div>
                                    <div class="icon-content">
                                        <h5 class="rdx-tilte">Teaching Methodology</h5>
                                        <p>➦ All basic concepts are covered in our curriculum, which uses interactive board-based learning methods. For various units, we have expert teachers. We want to help students discover their latent potential and develop their abilities by giving opportunities through various activities and healthy competition..</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 m-b30">
                                <div class="icon-bx-wraper left serb">
                                    <div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fas fa-pen"></i></a> </div>
                                    <div class="icon-content">
                                        <h5 class="rdx-tilte">Mentoring Program</h5>
                                        <p>➦ Each student is assigned to a teacher who is accountable for the student's academic performance. The mentor ensures that the child's study plan at home is correct and that the child is sufficiently motivated. He also ensures that the child has the least amount of academic trouble and that all of his or her issues are addressed..</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-sm-6 m-b30">
                                <div class="icon-bx-wraper left">
                                    <div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fas fa-pen"></i></a> </div>
                                    <div class="icon-content">
                                        <h5 class="rdx-tilte">Study Materials & Worksheets</h5>
                                        <p>➦ For each chapter that needs to be practiced, students are given study materials and worksheets. These have been created by our team of qualified tutors and are self-contained for practice. If a student practice these thoroughly, he or she will undoubtedly achieve good grades..</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 m-b30">
                                <div class="icon-bx-wraper left">
                                    <div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fas fa-pen"></i></a> </div>
                                    <div class="icon-content">
                                        <h5 class="rdx-tilte">Integrated Coaching </h5>
                                        <p>➦ Our syllabus ensures a student's success not just in board exams, but also in competitive exams such as NEET and JEE. Ex-IITians who have cracked the examinations code provide advice and classes as part of the programme..</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 m-b30">
                                <div class="icon-bx-wraper left">
                                    <div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fas fa-pen"></i></a> </div>
                                    <div class="icon-content">
                                        <h5 class="rdx-tilte">Booster Classes </h5>
                                        <p>➦ Our college teachers give Booster Classes after college hours for students with poor academic performance, which assist them in improving their grades in the subjects in which they are weak..</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 m-b30">
                                <div class="icon-bx-wraper left">
                                    <div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fas fa-pen"></i></a> </div>
                                    <div class="icon-content">
                                        <h5 class="rdx-tilte">Remedial Classes </h5>
                                        <p>➦ If any students miss courses due to justifiable reasons such as illness or an essential social function, we hold remedial classes..</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block js %} {% endblock %}