{% extends 'dashboard/header.html' %}
{% load static %}
{% block body %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" autocomplete="off" action="{% url 'update_sc_student' query.id %}" enctype="multipart/form-data">{% csrf_token %}
                            <div class="row">
                                <h5 class="card-title mb-3">BASIC INFORMATION</h5>
                                <input type="hidden" id="doj" name="doj" value='{{query.doj|date:"Y-m-d"}}' class="form-control" readonly>
                                <input type="hidden" name="status" value="{{query.status}}">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" id="roll_no" name="roll_no" value="{{query.roll_no}}" placeholder="Enter 10th Roll No" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" id="name" name="name" value="{{query.name}}" onKeyPress="return ValidateName(event);" onKeyUP="this.value = this.value.toUpperCase();" placeholder="Enter full name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input type="email" id="email" name="email" value="{{query.email}}" placeholder="Enter email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" id="mobile" name="mobile" value="{{query.mobile}}" placeholder="Enter mobile" minlength="10" maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <select id="gender" name="gender" class="form-control" required>
                                            <option value="MALE" {% if query.gender == 'MALE' %} selected="selected" {% endif %}>MALE</option>
                                            <option value="FEMALE" {% if query.gender == 'FEMALE' %} selected="selected" {% endif %}>FEMALE</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="date" max="{% now 'Y-m-d' %}" value="{{query.dob}}" id="dob" name="dob" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" id="aadhaar" name="aadhaar" value="{{query.aadhaar}}" minlength="12" maxlength="12" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Aadhaar no" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <select id="session" name="session" class="form-control" required>
                                            <option value="{{ query.session }}">{{ query.session }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <select id="stream" name="stream" class="form-control" required>
                                            <option value="{{ query.stream }}">{{ query.stream }}</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 col-md-4 col-sm-12">
                                    <div class="form-group fallback w-100">
                                        <input type="file" id="std_photo" name="std_photo" value="{{query.std_photo}}" class="form-control" accept=".png, .jpg, .jpeg">
                                    </div>
                                </div>

                                <h5 class="card-title mb-3">OTHER INFORMATION</h5>
                                <div class="col-lg-6 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" id="guardian_name" name="guardian_name" value="{{query.guardian_name}}" onKeyPress="return ValidateName(event);" onKeyUP="this.value = this.value.toUpperCase();" placeholder="Guardian name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="email" id="guardian_email" name="guardian_email" value="{{query.guardian_email}}" placeholder="Guardian email" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" id="guardian_mobile" name="guardian_mobile" value="{{query.guardian_mobile}}" minlength="10" maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Guardian mobile" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" id="address" name="address" value="{{query.address}}" placeholder="Address.." class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <select id="matriculation_board" name="matriculation_board" class="form-control" required>
                                            <option value="STATE BOARD" {% if query.board == 'STATE BOARD' %} selected="selected" {% endif %}>STATE BOARD</option>
                                            <option value="CBSE BOARD" {% if query.board == 'CBSE BOARD' %} selected="selected" {% endif %}>CBSE BOARD</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" id="exceptation_marks" name="exceptation_marks" value="{{query.exceptation_marks}}" placeholder="Excepation 10th makrs" class="form-control" minlength="3" maxlength="3" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
                                    </div>
                                </div>
                                
                                <div class="col-lg-12 col-md-12 col-sm-12 mt-4" style="float: right;">
                                    <button type="reset" class="btn btn-danger">RESET</button>
                                    <button type="submit" class="btn btn-primary pull-right">SAVE INFORMATION</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block js %}
    <link rel="stylesheet" href="{% static 'dashboard/vendor/pickadate/themes/default.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/vendor/pickadate/themes/default.date.css' %}">
    <script src="{% static 'dashboard/vendor/pickadate/picker.js' %}"></script>
    <script src="{% static 'dashboard/vendor/pickadate/picker.time.js' %}"></script>
    <script src="{% static 'dashboard/vendor/pickadate/picker.date.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins-init/pickadate-init.js' %}"></script>
    <script>
        function ValidateName(evt){
            var keyCode = (evt.which) ? evt.which : evt.keyCode
            if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32)
            
            return false;
                return true;
        }
    </script>
{% endblock %}