{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="BEST COLLEGE - SHANTI INSTITUTE OF MANAGEMENT AND STUDIES" />
	<meta property="og:title" content="BEST COLLEGE - SHANTI INSTITUTE OF MANAGEMENT AND STUDIES" />
	<meta property="og:description" content="BEST COLLEGE - SHANTI INSTITUTE OF MANAGEMENT AND STUDIES" />
	<meta name="format-detection" content="telephone=no">
    <title>SIMS COLLEGE</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dashboard/images/favicon.png' %}">
    <link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet">
</head>
<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %} 
                                <div class="alert alert-danger alert-dismissible alert-alt fade show">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    <strong>Error!</strong> {{message}}.
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4"><b>ADMIN DASHBOARD</b></h4>
                                    <form autocomplete="off" method="post" action="{% url 'mylogin' %}" enctype='multipart/form-data'>{% csrf_token %}
                                        <div class="form-group">
                                            <label><strong>Username</strong></label>
                                            <input type="text" name="username" id="username" placeholder="e.g. admin" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Password</strong></label>
                                            <input type="password" name="password" id="password" class="form-control" placeholder="**********" required>
                                        </div>
                                        <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                            <div class="form-group">
                                                <a href="/dashboard/forgot_pass">Forgot Password?</a>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block">LOGIN NOW</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'dashboard/vendor/global/global.min.js' %}"></script>
	<script src="{% static 'dashboard/vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'dashboard/js/deznav-init.js' %}"></script>
    <script src="{% static 'dashboard/js/custom.min.js' %}"></script>
</body>
</html>