{% extends 'dashboard/header.html' %}
{% load static %}
{% block body %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Manage All Job Applied</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard/index">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0);">Website</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0);">All Job Applied</a></li>
                </ol>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="row tab-content">
                    <div id="list-view" class="tab-pane fade active show col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example3" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>SN</th>
                                                <th>Title</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Mobile</th>
                                                <th>Resume</th>
                                                <th>Message</th>
                                            </tr>   
                                        </thead>
                                        <tbody>
                                            {% for job in job %}
                                                <tr>
                                                    <td><strong>{{forloop.counter}}</strong></td>
                                                    <td>{{job.title|title}}</td>
                                                    <td>{{job.name}}</td>
                                                    <td>{{job.email}}</td>
                                                    <td>{{job.mobile}}</td>
                                                    <td><a target="_blank" href="/media/{{job.resume}}"><span class="badge badge-success">VIEW RESUME</span></a></td>
                                                    <td>{{job.message}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
{% endblock body %}
{% block js %}
    <!-- Datatable -->
    <link href="{% static 'dashboard/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <script src="{% static 'dashboard/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins-init/datatables.init.js' %}"></script>
    <script>
        $( ".update" ).click(function() {
            $.id = $(this).data('id');
            var type = $(this).data('type');
            var title = $(this).data('title');
            var description = $(this).data('description');
            $.image = $(this).data('image');
            var status = $(this).data('status');

            $("#updateType").val(type);
            $("#updateTitle").val(title);
            $("#updateDesc").val(description);
            $("#updateStatus").val(status);
            $("#updateImg").attr("src", $.image);
            $('#updateForm').attr('action', "/dashboard/update_college/"+ $.id);
        });
    </script>
{% endblock %}