{% extends 'dashboard/header.html' %}
{% load static %}
{% block body %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'update_aboutus' %}" method="post" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label"><b>SIMS ABOUT</b></label>
                                        <textarea id="about" name="about" class="form-control" rows="7" required>{{query.about}}</textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label"><b>SIMS MISSION</b></label>
                                        <textarea id="mission" name="mission" class="form-control" rows="3" required>{{query.mission}}</textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label"><b>SIMS VISION</b></label>
                                        <textarea id="vision" name="vision" class="form-control" rows="3" required>{{query.vision}}</textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label"><b>SIMS FEATURES</b></label>
                                        <textarea id="features" name="features" class="form-control" rows="5" required>{{query.features}}</textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label"><b>SIMS FACEBOOK LINK</b></label>
                                        <input id="facebook" name="facebook" type="url" class="form-control" value="{{query.facebook}}" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label"><b>SIMS INSTAGRAM LINK</b></label>
                                        <input id="instagram" name="instagram" type="url" class="form-control" value="{{query.instagram}}" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label"><b>SIMS LINKEDIN LINK</b></label>
                                        <input id="linkedin" name="linkedin" type="url" class="form-control" value="{{query.linkedin}}" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label"><b>SIMS WHATSAPP LINK</b></label>
                                        <input id="whatsapp" name="whatsapp" type="url" class="form-control" value="{{query.whatsapp}}" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label"><b>SIMS TWITTER LINK</b></label>
                                        <input id="twitter" name="twitter" type="url" class="form-control" value="{{query.twitter}}" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label"><b>SIMS TELEGRAM LINK</b></label>
                                        <input id="telegram" name="telegram" type="url" class="form-control" value="{{query.telegram}}" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                    <a onClick="return confirm('Are you sure? to cancel!')" href="/dashboard/index"><button type="button" class="btn btn-light">Cancel</button></div></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myDivAlertSuccess">
    <div style="background-color: #1c7c50; color:white;" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> <span id="smsg"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
</div>

<div id="myDivAlertError">
    <div style="background-color: #ed1b2e; color:white;" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Error!</strong> <span id="emsg"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
</div>
{% endblock body %}
{% block js %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %} 
                <script>
                    var msg= "{{message}}";
                    var x = document.getElementById("myDivAlertSuccess");
                    $('#smsg').html(msg);
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                </script>
            {% endif %}
            {% if message.tags == 'error' %} 
                <script>
                    var msg= "{{message}}";
                    var x = document.getElementById("myDivAlertError");
                    $('#emsg').html(msg);
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}