{% extends 'dashboard/header.html' %}
{% load static %}
{% block title %} SIMS - SUPERADMIN {% endblock title %}
{% block body %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <ol class="breadcrumb">
                    <li><button type="button" class="btn btn-info"><a style="color:black;" href="/dashboard/index"><i class="la la-home"></i> Dashboard </a>/ <i class="la la-globe"></i> Website / <i class="la la-user"></i> Manage Summer Course Stream</button></li>
                </ol>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li><button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#addModal">+ Add New</button></li>
                </ol>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="row tab-content">
                    <div id="list-view" class="tab-pane fade active show col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="modal fade" id="addModal">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Enter Summer Course Stream Information</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                </button>
                                            </div>
                                            <form method="post" action="{% url 'manage_sc_stream' %}" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
                                                <div class="modal-body">
                                                    <select id="stream" name="stream" class="form-control" required>
                                                        <option value="">-- Select Stream --</option>
                                                        <option value="SCIENCE">SCIENCE</option>
                                                        <option value="COMMERCE">COMMERCE</option>
                                                    </select>

                                                    <select id="session" name="session" class="form-control mt-4" required>
                                                        <option value="">-- Select Session --</option>
                                                        <option value="{{ cyear }}-{{ nyear }}">{{ cyear }}-{{ nyear }}</option>
                                                    </select>

                                                    <input type="text" name="duration" id="duration" class="form-control mt-4" placeholder="Enter duration" required>

                                                    <input type="text" id="fees" name="fees" minlength="4" maxlength="6" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Fees amount.." class="form-control mt-4" required>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="updateModal">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Update Summer Course Stream Information</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                </button>
                                            </div>
                                            <form id="updateForm" method="post" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
                                                <div class="modal-body">
                                                    <input type="text" id="UpdateStream" name="stream" class="form-control" readonly>

                                                    <input type="text" id="UpdateSession" name="session" class="form-control mt-4" readonly>

                                                    <input type="text" id="UpdateDuration" name="duration" class="form-control mt-4" required>

                                                    <input type="text" id="UpdateFees" name="fees" minlength="4" maxlength="6" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Fees amount.." class="form-control mt-4" required>

                                                    <input type="hidden" id="UpdateStatus" name="status">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example3" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>SN</th>
                                                <th>Stream</th>
                                                <th>Session</th>
                                                <th>Duration</th>
                                                <th>Fees</th>
                                                <th>Created Date</th>
                                                <th>Updated Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for sc_stream in sc_stream %}
                                                <tr>
                                                    <td><strong>{{forloop.counter}}</strong></td>
                                                    <td>{{sc_stream.stream}}</td>
                                                    <td>{{sc_stream.session}}</td>
                                                    <td>{{sc_stream.duration}}</td>
                                                    <td>{{sc_stream.fees}}</td>
                                                    <td>{{sc_stream.created_at}}</td>
                                                    <td>{{sc_stream.updated_at}}</td>
                                                    <td>
                                                        {% if sc_stream.status == 'Active' %}
                                                            <a href="{% url 'update_sc_stream_status' sc_stream.id %}" onClick="return confirm('Are you sure? to update status!')" title="active" class="btn btn-sm btn-success"><i class="fa fa-toggle-on"></i></a>
                                                        {% else %}
                                                            <a href="{% url 'update_sc_stream_status' sc_stream.id %}" onClick="return confirm('Are you sure? to update status!')" title="inactive" class="btn btn-sm btn-success"><i class="fa fa-toggle-off"></i></a>
                                                        {% endif %}

                                                        <a onClick="return confirm('Are you sure? to edit this!')" class="btn btn-sm btn-primary update" data-id="{{ sc_stream.id }}" data-stream="{{ sc_stream.stream }}"  data-session="{{ sc_stream.session }}" data-duration="{{ sc_stream.duration }}" data-fees="{{ sc_stream.fees }}" data-status="{{ sc_stream.status }}" data-bs-toggle="modal" data-bs-target="#updateModal"><i class="la la-pencil"></i></a>

                                                        <a href="{% url 'delete_sc_stream' sc_stream.id %}" onClick="return confirm('Are you sure? to delete item!')" title="delete" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                                    </td>	
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="error" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="thank-you-pop">
                    <img src="{% static 'dashboard/images/msg/error.png' %}" alt="">
                    <p id="errorMsg"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="success" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="thank-you-pop">
                    <img src="{% static 'dashboard/images/msg/success.png' %}" alt="">
                    <p id="successMsg"></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block js %}
    <!-- Datatable -->
    <link href="{% static 'dashboard/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <script src="{% static 'dashboard/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins-init/datatables.init.js' %}"></script>
    <script>
        $( ".update" ).click(function() {
            $.id = $(this).data('id');
            var stream = $(this).data('stream');
            var session = $(this).data('session');
            var duration = $(this).data('duration');
            var fees = $(this).data('fees');
            var status = $(this).data('status');

            $("#UpdateStream").val(stream);
            $("#UpdateSession").val(session);
            $("#UpdateDuration").val(duration);
            $("#UpdateFees").val(fees);
            $("#UpdateStatus").val(status);
            $('#updateForm').attr('action', "/dashboard/update_sc_stream/"+ $.id);
        });
    </script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %} 
                <script>
                    var msg= "{{message}}";
                    $(document).ready(function(){
                        $("#error").modal('show');
                        $('#errorMsg').html(msg);

                        window.setTimeout( function(){
                            $("#error").modal('hide');
                        }, 2500 );
                    });
                </script>
            {% endif %}
            {% if message.tags == 'success' %} 
                <script>
                    var msg= "{{message}}";
                    $(document).ready(function(){
                        $("#success").modal('show');
                        $('#successMsg').html(msg);

                        window.setTimeout( function(){
                            $("#success").modal('hide');
                        }, 2500 );
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}