{% extends 'dashboard/header.html' %}
{% load static %}
{% block body %}
<div class="content-body">
    <div class="container-fluid">        
        <div class="row">
            <div class="col-lg-12">
                <div class="row tab-content">
                    <div id="list-view" class="tab-pane fade active show col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><b>MANAGE CHSE FACULTIES</b></h4>
                                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#addModal">+ Add New</button>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example3" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>IMAGE</th>
                                                <th>NAME</th>
                                                <th>POSITION</th>
                                                <th>EXPERIENCE</th>
                                                <th>STATUS</th>
                                                <th>ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for chseFaculty in chseFaculty %}
                                                <tr>
                                                    <td><strong>{{forloop.counter}}</strong></td>
                                                    <td><a target="_blank" href="/media/{{chseFaculty.image}}"><img class="rounded-circle" width="55" src="/media/{{chseFaculty.image}}" alt=""></a></td>
                                                    <td>{{chseFaculty.name|title}}</td>
                                                    <td>{{chseFaculty.position}}</td>
                                                    <td>{{chseFaculty.experience}}</td>
                                                    <td>
                                                        {% if chseFaculty.status == 'Active' %}
                                                            <a href="{% url 'update_chse_faculty_status' chseFaculty.id %}" onClick="return confirm('Are you sure? to update status!')"><span class="badge badge-success">ACTIVE</span></a>
                                                        {% else %}
                                                            <a href="{% url 'update_chse_faculty_status' chseFaculty.id %}" onClick="return confirm('Are you sure? to update status!')"><span class="badge badge-danger">INACTIVE</span></a>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a class="update" data-id="{{ chseFaculty.id }}" data-type="{{ chseFaculty.type }}" data-name="{{ chseFaculty.name }}" data-position="{{ chseFaculty.position }}" data-experience="{{ chseFaculty.experience }}" data-image="/media/{{ chseFaculty.image }}" data-facebook="{{ chseFaculty.facebook }}" data-instagram="{{ chseFaculty.instagram }}" data-linkedin="{{ chseFaculty.linkedin }}" data-whatsapp="{{ chseFaculty.whatsapp }}" data-gmail="{{ chseFaculty.gmail }}" data-status="{{ chseFaculty.status }}" data-bs-toggle="modal" data-bs-target="#updateModal"><button><i style="color: green;font-size: 20px;" class="la la-pencil"></i></button></a>
                                                        <a href="{% url 'delete_chse_faculty' chseFaculty.id %}" onClick="return confirm('Are you sure? to delete!')"><button><i style="color: red;font-size: 20px;" class="la la-trash-o"></i></button></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title w-100 text-center"><b>ENTER CHSE FACULTIES INFORMATION</b></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal">
                                            </button>
                                        </div>
                                        <form method="post" action="{% url 'manage_chse_faculty' %}" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
                                            <div class="modal-body" style="margin-top:-25px;">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="text" id="name" name="name" class="form-control" placeholder="Enter name.." required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="text" id="position" name="position" class="form-control" placeholder="Enter position.." required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="text" id="experience" name="experience" class="form-control" placeholder="Enter experience.." required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="url" id="facebook" name="facebook" class="form-control" placeholder="Facebook url.." required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="url" id="instagram" name="instagram" class="form-control" placeholder="Instagram url.." required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="url" id="linkedin" name="linkedin" class="form-control" placeholder="Linkedin url.." required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="url" id="whatsapp" name="whatsapp" class="form-control" placeholder="Whatsapp url.." required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="text" id="gmail" name="gmail" class="form-control" placeholder="Enter gmail id.." required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="file" id="image" name="image" class="form-control" accept=".png, .jpg, .jpeg" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title w-100 text-center"><b>UPDATE CHSE FACULTIES INFORMATION</b></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal">
                                            </button>
                                        </div>
                                        <form id="updateForm" method="post" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
                                            <div class="modal-body" style="margin-top:-25px;">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="text" id="updateName" name="name" class="form-control" placeholder="Enter name.." required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="text" id="updatePosition" name="position" class="form-control" placeholder="Enter position.." required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="text" id="updateExperience" name="experience" class="form-control" placeholder="Enter experience.." required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="url" id="updateFacebook" name="facebook" class="form-control" placeholder="Facebook url.." required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="url" id="updateInstagram" name="instagram" class="form-control" placeholder="Instagram url.." required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="url" id="updateLinkedin" name="linkedin" class="form-control" placeholder="Linkedin url.." required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="url" id="updateWhatsapp" name="whatsapp" class="form-control" placeholder="Whatsapp url.." required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <div class="form-group">
                                                                <input type="text" id="updateGmail" name="gmail" class="form-control" placeholder="Enter gmail id.." required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <img class="mt-4" id="updateImg" src="" style="width: 100px;height:100px;"/>
                                                                <input type="file" id="image" name="image" class="form-control" accept=".png, .jpg, .jpeg">
                                                            </div>
                                                        </div>
                                                        <input type="hidden" id="updateType" name="type">
                                                        <input type="hidden" id="updateStatus" name="status">
                                                    </div>  
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myDivAlertSuccess">
    <div style="background-color: #1c7c50; color:white;" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> <span id="smsg"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
</div>

<div id="myDivAlertError">
    <div style="background-color: #ed1b2e; color:white;" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Error!</strong> <span id="emsg"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
</div>
{% endblock body %}
{% block js %}
    <!-- Datatable -->
    <link href="{% static 'dashboard/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <script src="{% static 'dashboard/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins-init/datatables.init.js' %}"></script>
    <script>
        $( ".update" ).click(function() {
            $.id = $(this).data('id');
            var type = $(this).data('type');
            var name = $(this).data('name');
            var position = $(this).data('position');
            var experience = $(this).data('experience');
            var facebook = $(this).data('facebook');
            var instagram = $(this).data('instagram');
            var linkedin = $(this).data('linkedin');
            var whatsapp = $(this).data('whatsapp');
            var gmail = $(this).data('gmail');
            $.image = $(this).data('image');
            var status = $(this).data('status');

            $("#updateType").val(type);
            $("#updateName").val(name);
            $("#updatePosition").val(position);
            $("#updateExperience").val(experience);
            $("#updateFacebook").val(facebook);
            $("#updateInstagram").val(instagram);
            $("#updateLinkedin").val(linkedin);
            $("#updateWhatsapp").val(whatsapp);
            $("#updateGmail").val(gmail);
            $("#updateImg").attr("src", $.image);
            $("#updateStatus").val(status);
            $('#updateForm').attr('action', "/dashboard/update_chse_faculty/"+ $.id);
        });
    </script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %} 
                <script>
                    var msg= "{{message}}";
                    var x = document.getElementById("myDivAlertSuccess");
                    $('#smsg').html(msg);
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                </script>
            {% endif %}
            {% if message.tags == 'error' %} 
                <script>
                    var msg= "{{message}}";
                    var x = document.getElementById("myDivAlertError");
                    $('#emsg').html(msg);
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}