{% extends 'dashboard/header.html' %}
{% load static %}
{% block body %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row tab-content">
                    <div id="list-view" class="tab-pane fade active show col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><b style="color: #0e1c6e;">MANAGE COLLEGE INFRASTRUCTURE</b></h4>
                                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#addModal">+ Add New</button>
                            </div>
                            
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example3" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>TITLE</th>
                                                <th>INFORMATION</th>
                                                <th>PHOTO</th>
                                                <th>STATUS</th>
                                                <th>ACTION</th>
                                            </tr>   
                                        </thead>
                                        <tbody>
                                            {% for college in college %}
                                                <tr>
                                                    <td><strong>{{forloop.counter}}</strong></td>
                                                    <td>{{college.title|title}}</td>
                                                    <td>{{college.description}}</td>
                                                    <td><a target="_blank" href="/media/{{college.image}}"><img width="100" src="/media/{{college.image}}" alt=""></td></td>
                                                    <td>
                                                        {% if college.status == 'Active' %}
                                                            <a href="{% url 'update_college_status' college.id %}" onClick="return confirm('Are you sure? to update status!')"><span class="badge badge-success">ACTIVE</span></a>
                                                        {% else %}
                                                            <a href="{% url 'update_college_status' college.id %}" onClick="return confirm('Are you sure? to update status!')"><span class="badge badge-danger">INACTIVE</span></a>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a class="update" data-id="{{ college.id }}" data-type="{{ college.type }}"  data-title="{{ college.title }}" data-description="{{ college.description }}" data-image="/media/{{ college.image }}" data-status="{{ college.status }}" data-bs-toggle="modal" data-bs-target="#updateModal"><button><i style="color: green;font-size: 20px;" class="la la-pencil"></i></button></a>
                                                        <a href="{% url 'delete_college' college.id %}" onClick="return confirm('Are you sure? to delete!')"><button><i style="color: red;font-size: 20px;" class="la la-trash-o"></i></button></a>
                                                    </td>	
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal fade" id="addModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title w-100 text-center"><b>ENTER COLLEGE INFRASTRUCTURE INFORMATION</b></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal">
                                            </button>
                                        </div>
                                        <form method="post" action="{% url 'manage_college' %}" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
                                            <div class="modal-body">
                                                <input type="text" id="title" name="title" placeholder="Enter title.." class="form-control" required>

                                                <textarea id="description" name="description" placeholder="Enter details.." class="form-control mt-4" required></textarea>

                                                <input type="file" id="image" name="image" placeholder="Enter slider title.." class="form-control mt-4" accept=".png, .jpg, .jpeg" required>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="updateModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title w-100 text-center"><b>UPDATE COLLEGE INFRASTRUCTURE INFORMATION</b></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal">
                                            </button>
                                        </div>
                                        <form id="updateForm" method="post" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
                                            <div class="modal-body">
                                                <input type="text" id="updateTitle" name="title" placeholder="Enter title.." class="form-control" required>

                                                <textarea id="updateDesc" name="description" placeholder="Enter description details.." class="form-control mt-4" required></textarea>

                                                <img class="mt-4" id="updateImg" src="" style="width: 460px;height:200px;"/>
                                                <input type="file" id="image" name="image" accept=".png, .jpg, .jpeg"  class="form-control mt-2">

                                                <input type="hidden" id="updateStatus" name="status">
                                                <input type="hidden" id="updateType" name="type">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myDivAlertSuccess">
    <div style="background-color: #1c7c50; color:white;" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> <span id="smsg"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
</div>

<div id="myDivAlertError">
    <div style="background-color: #ed1b2e; color:white;" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Error!</strong> <span id="emsg"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
</div>
{% endblock body %}
{% block js %}
    <!-- Datatable -->
    <link href="{% static 'dashboard/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <script src="{% static 'dashboard/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins-init/datatables.init.js' %}"></script>
    <script>
        $( ".update" ).click(function() {
            $.id = $(this).data('id');
            var type = $(this).data('type');
            var title = $(this).data('title');
            var description = $(this).data('description');
            $.image = $(this).data('image');
            var status = $(this).data('status');

            $("#updateType").val(type);
            $("#updateTitle").val(title);
            $("#updateDesc").val(description);
            $("#updateStatus").val(status);
            $("#updateImg").attr("src", $.image);
            $('#updateForm').attr('action', "/dashboard/update_college/"+ $.id);
        });
    </script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %} 
                <script>
                    var msg= "{{message}}";
                    var x = document.getElementById("myDivAlertSuccess");
                    $('#smsg').html(msg);
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                </script>
            {% endif %}
            {% if message.tags == 'error' %} 
                <script>
                    var msg= "{{message}}";
                    var x = document.getElementById("myDivAlertError");
                    $('#emsg').html(msg);
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}