{% extends 'dashboard/header.html' %}
{% load static %}
{% block body %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-xxl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Hello, {{request.user.get_full_name}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form method="post" autocomplete="off" action="{% url 'profile_update' request.user.id %}" enctype='multipart/form-data'>{% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Full Name</label>
                                    <div class="col-sm-5">
                                        <input type="text" name="first_name" id="first_name" value="{{request.user.first_name}}" class="form-control" placeholder="First Name.." required>
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="text" name="last_name" id="last_name" value="{{request.user.last_name}}" class="form-control" placeholder="Last Name.." required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Email Address</label>
                                    <div class="col-sm-10">
                                        <input type="email" id="email" name="email" value="{{request.user.email}}" class="form-control" readonly placeholder="Email Address.." required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Username</label>
                                    <div class="col-sm-10">
                                        <input type="email" id="username" name="username" value="{{request.user.username}}" class="form-control" readonly placeholder="Username.." required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Password</label>
                                    <div class="col-sm-5">
                                        <input type="password" id="new_password" name="new_password" class="form-control" placeholder="Enter new password.." required>
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="password" name="cnf_password" id="cnf_password" class="form-control" placeholder="Confirm new password.." required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mt-4">
                                        <center>
                                            <a onClick="return confirm('Are you sure? to cancel!')" href="/dashboard/index"><button type="button" class="btn btn-danger">Cancel</button></a>
                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                        </center>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myDivAlertSuccess">
    <div style="background-color: #1c7c50; color:white;" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> <span id="smsg"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
</div>

<div id="myDivAlertError">
    <div style="background-color: #ed1b2e; color:white;" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Error!</strong> <span id="emsg"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
</div>
{% endblock body %}
{% block js %}
    <!-- Datatable -->
    <link href="{% static 'dashboard/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <script src="{% static 'dashboard/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins-init/datatables.init.js' %}"></script>
    
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %} 
                <script>
                    var msg= "{{message}}";
                    var x = document.getElementById("myDivAlertSuccess");
                    $('#smsg').html(msg);
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                </script>
            {% endif %}
            {% if message.tags == 'error' %} 
                <script>
                    var msg= "{{message}}";
                    var x = document.getElementById("myDivAlertError");
                    $('#emsg').html(msg);
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}