{% extends 'dashboard/header.html' %}
{% load static %}
{% block body %}
<div class="content-body">
    <div class="container-fluid">
        <!-- <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Add Student</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0);">Students</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0);">Add Student</a></li>
                </ol>
            </div>
        </div> -->
        
        <div class="row">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" action="{% url 'rc_student_admission_payment' %}" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
                            <div class="row">
                                <h5 class="card-title mb-3">PAYMENT INFORMATION</h5>
                                <input type="hidden" id="std_id" name="std_id" value="{{stdID}}">
                                <input type="hidden" id="rollno" name="rollno" value="{{rollnew}}">
                                <input type="hidden" id="regdno" name="regdno" value="{{regdno}}">
                                <input type="hidden" id="date" name="date" value="{% now 'Y-m-d' %}">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group mt-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">NAME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            </div>
                                            <input type="text" class="form-control" value="{{stdInfo.name}}" style="font-weight: bold;" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group mt-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">SESSION</span>
                                            </div>
                                            <input type="text" class="form-control" value="{{stdInfo.session}}" style="font-weight: bold;" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group mt-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">DURATION</span>
                                            </div>
                                            <input type="text" class="form-control" value="{{streamInfo.duration|upper}}" style="font-weight: bold;" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group mt-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">STREAM&nbsp;</span>
                                            </div>
                                            <input type="text" class="form-control" value="{{stdInfo.stream}}" style="font-weight: bold;" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group mt-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">FEES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            </div>
                                            <input type="text" id="fees" class="form-control" value="{{streamInfo.fees}}" style="font-weight: bold;" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group mt-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">AMOUNT</span>
                                            </div>
                                            <input type="text" id="amount" name="amount" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onkeyup="checkAmount()" class="form-control" style="font-weight: bold;" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group mt-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">TYPE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            </div>
                                            <select id="type" name="type" class="form-control" onchange="paymentType(this)" required="">
                                                <option value="">SELECT TYPE</option>
                                                <option value="OFFLINE">OFFLINE</option>
                                                <option value="ONLINE">ONLINE</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12" id="offlineDiv">
                                    <div class="form-group">
                                        <div class="input-group mt-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">MODE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            </div>
                                            <select id="offline_mode" name="offline_mode" class="form-control">
                                                <option value="">SELECT MODE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                <option value="CASH">CASH</option>
                                                <option value="CHEQUE">CHEQUE</option>
                                                <option value="BANK TRANSFER">BANK TRANSFER</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12" id="onlineDiv" style="display: none;">
                                    <div class="form-group">
                                        <div class="input-group mt-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">MODE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            </div>
                                            <select id="online_mode" name="online_mode" class="form-control">
                                                <option value="">SELECT MODE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                <option value="UPI">UPI</option>
                                                <option value="INTERNET BANKING">INTERNET BANKING</option>
                                                <option value="MOBILE BANKING">MOBILE BANKING</option>
                                                <option value="CARD PAYMENT">CARD PAYMENT</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group mt-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">REMARKS</span>
                                            </div>
                                            <textarea id="remarks" name="remarks" placeholder="Enter payment remarks.." class="form-control" rows="1" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                                    <button type="submit" class="btn btn-primary pull-right">SAVE PAYMENT INFORMATION</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block js %}
    <link rel="stylesheet" href="{% static 'dashboard/vendor/pickadate/themes/default.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/vendor/pickadate/themes/default.date.css' %}">
    <script src="{% static 'dashboard/vendor/pickadate/picker.js' %}"></script>
    <script src="{% static 'dashboard/vendor/pickadate/picker.time.js' %}"></script>
    <script src="{% static 'dashboard/vendor/pickadate/picker.date.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins-init/pickadate-init.js' %}"></script>
    <script>
        function ValidateName(evt){
            var keyCode = (evt.which) ? evt.which : evt.keyCode
            if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32)
            
            return false;
                return true;
        }
    </script>
    <script>
        function paymentType(thisObj) {
            var type = thisObj.options[thisObj.selectedIndex].text;
            // alert(type);
            if (type == 'ONLINE') {
                document.getElementById('onlineDiv').style.display = 'flex';
                // document.getElementById("online_mode").required = true;
                document.getElementById('offlineDiv').style.display = 'none';
            }
            else if(type == 'OFFLINE'){
                document.getElementById('offlineDiv').style.display = 'flex';
                // document.getElementById("offline_mode").required = true;
                document.getElementById('onlineDiv').style.display = 'none';
            }
        }
    </script>
    <script>
        function checkAmount() {
            var fees = parseInt(document.getElementById("fees").value);
            var amount = parseInt(document.getElementById("amount").value);
            if(amount > fees){
                alert("Amount should less than fees");
                document.getElementById("amount").value = "";
            }
        }
    </script>
{% endblock %}