{% extends 'dashboard/header.html' %}
{% load static %}
{% block body %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mt-3" id="printableArea" style="background-color: rgb(8 192 234);">
                    <div class="card-header"> No : {{pinfo.id}}  
                        <span class="float-end"><strong>Date:</strong> {{pinfo.date}}</span> 
                    </div>
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-sm-12">
                                <center>
                                    <b style="font-size: 20px;">SHANTI INSTITUTE OF MANAGEMENT AND STUDIES</b>
                                    <p>1B, 553, CDA Sec - 10, Cuttack, Odisha 753014</p>
                                    <p style="margin-top: -15px;">Phone No : +91 9090597374, +91 9439377502</p>
                                    <p style="margin-top: -15px;">Email : sims.ctc@gmail.com</p>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12"> </div>
                            <div class="col-lg-12 col-sm-12 ms-auto">
                                <table class="table table-clear">
                                    <tbody>
                                        <tr>
                                            <td class="left"><strong>Received with thanks from</strong></td>
                                            <td class="right"><strong>{{stdInfo.roll_no}} : {{stdInfo.name}}, <b>S/O</b> : {{stdInfo.father_name}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="left"><strong>The sum of in number</strong></td>
                                            <td class="right"><b>&#x20B9;{{pinfo.amount}}/-</b></td>
                                        </tr>
                                        <tr>
                                            <td class="left"><strong>The sum of in letter</strong></td>
                                            <td class="right"><b>Indian Rupees {{wamount|title}} Only.</b></td>
                                        </tr>
                                        <tr>
                                            <td class="left"><strong>Payment Type / Mode</strong></td>
                                            <td class="right"><b>{{pinfo.type}} / {{pinfo.mode}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="left"><strong>Transaction ID</strong></td>
                                            <td class="right"><b>#{{pinfo.txn_id}}</b></td>
                                        </tr>
                                        <tr>
                                            <td class="left"><strong>Remarks</strong></td>
                                            <td class="right"><strong>Being received towards hostel fees and other fees vide {{pinfo.type|lower}} / {{pinfo.mode|lower}} on {{pinfo.date}}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-header">Invoice : #{{pinfo.invoice}}<span class="float-end">
                                <strong>Authorized Signature</strong></span> 
                            </div>
                            <center><p class="mt-4">This is a computer generated payslip, Signature is not required!.</p></center>
                        </div>
                    </div>
                </div>
                <input type="button" class="btn btn-primary" onclick="printDiv('printableArea')" value="Print Receipt!"/>
            </div>
        </div> 
    </div>
</div>
{% endblock body %}
{% block js %}
    <link rel="stylesheet" href="{% static 'dashboard/vendor/pickadate/themes/default.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/vendor/pickadate/themes/default.date.css' %}">
    <script src="{% static 'dashboard/vendor/pickadate/picker.js' %}"></script>
    <script src="{% static 'dashboard/vendor/pickadate/picker.time.js' %}"></script>
    <script src="{% static 'dashboard/vendor/pickadate/picker.date.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins-init/pickadate-init.js' %}"></script>
    <script>
        function ValidateName(evt){
            var keyCode = (evt.which) ? evt.which : evt.keyCode
            if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32)
            
            return false;
                return true;
        }
    </script>
    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>
{% endblock %}