{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="BEST COLLEGE - SHANTI INSTITUTE OF MANAGEMENT AND STUDIES" />
	<meta property="og:title" content="BEST COLLEGE - SHANTI INSTITUTE OF MANAGEMENT AND STUDIES" />
	<meta property="og:description" content="BEST COLLEGE - SHANTI INSTITUTE OF MANAGEMENT AND STUDIES" />
	<meta name="format-detection" content="telephone=no">
    <title>SIMS COLLEGE</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dashboard/images/favicon.png' %}">
    <link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/popup.css' %}" rel="stylesheet">
</head>
<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %} 
                                <div class="alert alert-danger alert-dismissible alert-alt fade show">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    <strong>Error!</strong> {{message}}.
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                {% if user_id|default_if_none:"" %}
                                    <div class="auth-form">
                                        <h4 class="text-center mb-4"><b>RESET PASSWORD!</b></h4>
                                        <form autocomplete="off" method="post" enctype='multipart/form-data'>{% csrf_token %}
                                            <div class="form-group">
                                                <label><strong>New Password</strong></label>
                                                <input type="password" name="new_pass" id="new_pass" placeholder="********" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label><strong>Confirm new password</strong></label>
                                                <input type="password" name="cnf_pass" id="cnf_pass" class="form-control" placeholder="********" required>
                                            </div>
                                            <input type="hidden" name="user_id" value="{{user_id}}">
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary btn-block">RESET PASSWORD</button>
                                            </div>
                                        </form>
                                    </div>
                                {% else %}
                                    <div class="auth-form">
                                        <h4 class="text-center mb-4"><b>Token Mismatching Happens!</b></h4>
                                    </div>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="resetPassError" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="thank-you-pop">
                        <img src="{% static 'dashboard/images/msg/success.png' %}" alt="">
                        <p id="resetPassMsg"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'dashboard/vendor/global/global.min.js' %}"></script>
	<script src="{% static 'dashboard/vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'dashboard/js/deznav-init.js' %}"></script>
    <script src="{% static 'dashboard/js/custom.min.js' %}"></script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %} 
                <script>
                    var msg= "{{message}}";
                    $(document).ready(function(){
                        $("#resetPassError").modal('show');
                        $('#resetPassMsg').html(msg);

                        window.setTimeout( function(){
                            window.location = "/dashboard/index";
                        }, 3000 );
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html>