{% extends 'dashboard/header.html' %}
{% load static %}
{% block body %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row tab-content">
                    <div id="list-view" class="tab-pane fade active show col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <form autocomplete="off" method="post" action="{% url 'std_fees_information' %}"  enctype="multipart/form-data">{% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group mt-4">
                                                <input type="text" id="roll_no" name="roll_no" placeholder="Search roll no for college fees and hostel fees paymemt..." class="form-control" required>
                                                <div class="input-group-prepend">
                                                    <button type="submit" class="btn btn-primary input-group-text">SEARCH</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example3" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>Sl No</th>
                                                <th>ROLL NO</th>
                                                <th>INVOICE</th>
                                                <th>TXN_ID</th>
                                                <th>AMOUNT</th>
                                                <th>TYPE</th>
                                                <th>MODE</th>
                                                <th>DATE</th>
                                                <th>VIEW</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for stdFees in stdFees %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td><strong>{{stdFees.roll_no}}</strong></td>
                                                    <td><strong>{{stdFees.invoice}}</strong></td>
                                                    <td><strong>{{stdFees.txn_id}}</strong></td>
                                                    <td><strong>{{stdFees.amount}}</strong></td>
                                                    <td>{{stdFees.type}}</td>
                                                    <td>{{stdFees.mode}}</td>
                                                    <td>{{stdFees.date|date:"d M, Y"}}</td>
                                                    <td>
                                                        {% if stdFees.status == 'active' %}
                                                            <a title="active" class="btn btn-sm btn-success"><i class="fa fa-toggle-on"></i></a>
                                                        {% else %}
                                                            <a title="inactive" class="btn btn-sm btn-success"><i class="fa fa-toggle-off"></i></a>
                                                        {% endif %}
                                                        <a href="{% url 'std_payment_receipt' stdFees.id %}" onClick="return confirm('Are you sure? to print!')" target="_blank" class="btn btn-sm btn-info"><i class="fa fa-print"></i></a>
                                                    </td>												
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="successModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="thank-you-pop">
                    <img src="{% static 'dashboard/images/msg/success.png' %}" alt="">
                    <p id="successMsg"></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block js %}
    <!-- Datatable -->
    <link href="{% static 'dashboard/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <script src="{% static 'dashboard/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins-init/datatables.init.js' %}"></script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %} 
                <script>
                    var msg= "{{message}}";
                    $(document).ready(function(){
                        $("#successModal").modal('show');
                        $('#successMsg').html(msg);

                        window.setTimeout( function(){
                            $("#successModal").modal('hide');
                        }, 2000 );
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}